/* ////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////// MAIN /// */
/* ////////////////////////////////////////////////////////////////////////////// */

/* --------------------------------------------------------------------- MAIN --- */
main {
    min-height: 128px;
    flex-grow: 1;
    flex-shrink: 0;
}
